
<ion-header>
  <ion-toolbar>
    <ion-title>
      City Movies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/4.jpg"></ion-img>
    <ion-button (click)="booking1()"  expand="half" class="">Booking</ion-button> <br/>

  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="/assets/5.jpg"></ion-img>
    <ion-button (click)="booking2()"  expand="half" class="">Booking</ion-button> <br/>
  </ion-card>
</ion-content>