<ion-header>
  <ion-toolbar>
    <ion-title text-align="center">
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
    <ion-item>
        <ion-label position="floating">UserId</ion-label>
        <ion-input type="text" [(ngModel)]="UserId"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input type="text" [(ngModel)]="phonenumber"></ion-input>
</ion-item>
<ion-button (click)="recovertoemail()"  expand="half" class="">RecoverToEmail</ion-button> <br/>

</ion-list>
</ion-content>
